@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: "encode-sans-regular";
  src: url("/fonts/EncodeSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "encode-sans-medium";
  src: url("/fonts/EncodeSans-Medium.ttf") format("truetype");
}

.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  margin: 0 4px !important;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 20px !important;
}

.left-cloud-bg {
  background-image: url(../../public/images/home/landingPage/left-chat.svg);
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 10;
}

.right-cloud-bg {
  background-image: url(../../public/images/home/landingPage/right-chat.svg);
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 10;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50%) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
}

.animate-cloud-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}
